<mat-card class="product-card" [class]="getStatusClass()">
  <div class="product-card__image-wrapper">
    @if (getPrimaryImage()) {
      <img mat-card-image [src]="getPrimaryImage()" [alt]="product().title" />
    } @else {
      <img mat-card-image src="placeholder.png" alt="Placeholder image" />
    }
  </div>

  <div class="product-card__content">
    <mat-card-header>
      <div class="product-card__header-content">
        <mat-card-title>{{ product().title }}</mat-card-title>
      </div>
    </mat-card-header>

    <mat-card-content>
      <div class="product-card__meta">
        <span>{{ product().brickCount }} Teile</span>
        <span>{{ product().brickFormat }}</span>
      </div>

      @if (product().status === 'wishlist' && product().wishlistData?.currentPrice; as price) {
        <p class="product-card__price">
          {{ price.amount | currency: price.currency }}
        </p>
      }
    </mat-card-content>
  </div>
</mat-card>
